<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <li class="navBotton">
            <a  class="btn btn-outline-warning "  routerLink="/home" routerLinkActive="active">Inicio</a>
            <a class="btn btn-outline-warning" mat-button routerLink="/products" routerLinkActive="active">Productos</a>
            <a class="btn btn-outline-warning" mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
            
        </li>

        <div class="carrito">
            <span class="badge badge-pill bg-danger">1</span>
            <span><i class="fas fa-shopping-cart"></i></span>
        </div>
        
    </div>
  </nav>
