.btn{
    padding: 5px;
  text-decoration: none;
  margin-left: 100px;
  width: 150px;
  color: white;
}

.carrito{
    margin-left: 500px;
}

li > a.active {
    background-color: #FFEB3B;
    font: black
  }