<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <li class="navBotton">
            <a  class="btn btn-outline-warning "  routerLink="servicios" routerLinkActive="active">servicios</a>
            <a class="btn btn-outline-warning" mat-button routerLink="accesorios" routerLinkActive="active">Accesorios</a>
            <a class="btn btn-outline-warning" mat-button routerLink="llantas" routerLinkActive="active">Llantas</a>
            <a class="btn btn-outline-warning" mat-button routerLink="bicicletas" routerLinkActive="active">Bicicletas</a>
            
        </li>
        </div>
        </nav>

        <router-outlet></router-outlet>
